<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <form method="get" action="/" class="form-horizontal"> -->
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">建立新問題</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Please enter your question. Use "_" to represent blanks.</label>
                                        <input type="text" class="form-control" id="question" value="{{questionEditQ}}">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-sm btn-info no-radius" type="button" (click)="addQuestion()">
                                        <i class="material-icons">done</i>
                                        Add Question</button>
                                </div>
                            </div>
                            <div *ngIf="questionAdded">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group label-floating has-success">
                                        <label class="control-label">Please enter the correct answer</label>
                                        <input type="text"  class="form-control" id="answer" value="{{questionEditA}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Press "enter" to add other answer options</label>
                                    <!-- <p>Please enter other answers</p> -->
                                    <tag-input [(ngModel)]='options' theme='filled-theme' [editable]='true'></tag-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Target age group</label>
                                        <input  type="number" class="form-control" name="input" [(ngModel)]="age" min="0" max="99" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <button class="btn btn-primary btn-round" (click)="finish();">
                                        <i class="material-icons">add</i> Finish
                                    </button>
                                </div>
                            </div>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>